html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

/***** PARALLAX *****/
.parallax {
  /* The image used */
  background-image: url('../images/background_hero2.jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***** NAVBAR *****/
nav {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: fixed;
  width: 100%;
  /* line-height: 100%; */
  transition: .5s;
  transition-delay: .5s;
}

nav ul {
  float: right;
  margin: 0 auto;
  padding-right: 3%;
}

/* TABS */
nav ul li {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  transition: .6s;
}

/* NAVBAR - Menu Links */
nav ul li a {
  text-decoration: none;
  color: #7f91b5;
  font-weight: 900;
  font-size: 1rem;
}

/* flexbox on order list */
.menu {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
}

/* Navbar - JavaScript */
nav.black {
  background: white;
}

nav ul li:hover {
  background: #bbc8d3;
}





/* Parallax Page - title */
.paraTitle {
  margin: 0 0 1.5% 0;
  padding-top: 11%;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #7f91b5;
}

.second_line {
  font-family: 'Montserrat', sans-serif;
  /* width: 24em; */
  margin: 0 auto;
  font-size: 130%;
  text-align: center;
  color: #7f91b5;
}







/***** ABOUT ME *****/
.aboutme-div {
  padding-top: 82px;
  padding-bottom: 82px;
  font-family: 'Montserrat', sans-serif;
}

.aboutme-title {
  margin: 0;
  font-size: 6em;
  text-align: center;
}

.aboutme {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.aboutme-box-1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.aboutme-box-2 {
  flex: 2;
  font-size: 20px;
  padding-right: 5%;
  display: flex;
  flex-flow: column;
  text-align: left;
  font-weight: 500;
}

/***** TECHNICAL SKILLS *****/
.skills-div {
  padding-top: 4%;
  padding-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
}

.skills-title {
  margin: 0;
  font-size: 6em;
  text-align: center;
}

.skills {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.skills-box-1 {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.skills-box-2 {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 4%;
}

.skills-box-3 {
  flex: 1;
  display: flex;
  flex-flow: column;
  font-weight: 500;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 4%;
}

.skills-box-1>h2 {
  text-align: center;
  font-size: 20px
}

.skills-box-2>h2 {
  text-align: center;
  font-size: 20px
}

.skills-box-3>h2 {
  text-align: center;
  font-size: 20px
}

/***** Skills container ****/
.container {
  font-family: 'Montserrat', sans-serif;
  width: 75.6%;
}

.bar {
  background-color: #EEE;
  padding: 2px;
  margin-bottom: 5px;
  font-size: .8rem;
  color: #FFF;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.bar:before {
  content: attr(data-skill);
  background-color: #7f91b5;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
}

.bar.front:before {
  background-color: #7f91b5;
}

.bar.back:before {
  background-color: #7f91b5;
}

.bar.learning:before {
  width: calc(20% - 10px);
}

.bar.basic:before {
  width: calc(40% - 10px);
}

.bar.intermediate:before {
  width: calc(60% - 10px);
}

.bar.advanced::before {
  width: calc(80% - 10px);
}

.bar.expert::before {
  width: calc(100% - 10px);
}

.third_innerContainer>h2 {
  padding-left: 4%;
}

.third_innerContainer {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

/***** EXPERIENCE *****/
.experience-div {
  padding-top: 82px;
  padding-bottom: 120px;
  font-family: 'Montserrat', sans-serif;
}

.experience-title {
  margin: 0;
  font-size: 6em;
  text-align: center;
}

.experience {
  display: flex;
  flex-flow: row wrap;
  /* justify-content:space-around; */
  align-items: center;
}

.experience-box-1 {
  flex: 1;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
}

.experience-box-2 {
  flex: 1;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
}

.experience-box-3 {
  flex: 1;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
}

.school_img>img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /* Animation */
  transition: transform .3s;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
}

.school_img>img:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.pandora_img>img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /* Animation */
  transition: transform .3s;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
}

.pandora_img>img:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.cvs_img>img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /* Animation */
  transition: transform .3s;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
}

.cvs_img>img:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

#school-btn, #pandora-btn, #cvs-btn {
  width: 20%;
  border: 0;
  border-radius: 2%;
  color: #7f91b5;
  font-weight: bolder;
  margin: 0 auto;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #7f91b5;
  color: white;
}

.modal-body {
  display: flex;
  flex-flow: row wrap;
  padding: 2px 16px;
}

.modal-footer {
  color: #7f91b5;
}




/***** PROJECTS *****/
/***** TECHNICAL SKILLS *****/
.projects-div {
  padding-top: 4%;
  padding-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
}

.projects-title {
  margin: 0;
  font-size: 6em;
  text-align: center;
}

.projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.projects-box-1 {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* GRID */
.grid2x2 {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.grid2x2>div {
  display: flex;
  height: 400px;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-flow: row wrap;
}

.grid2x2>div>div {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.box {
  margin: 20px;
}

.box1 {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.70)),
    url("../images/tic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
  border-radius: 10px;
}

.box2 {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.70)),
    url("../images/gradebook.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
  border-radius: 10px;
}

.box3 {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.70)),
    url("../images/medical.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
  border-radius: 10px;
}

.box4 {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.70)),
    url("../images/website.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -7px 14px 11px 3px rgba(64, 64, 64, 0.75);
  border-radius: 10px;
}

.box>div>a>h2 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.box>div>a>p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  line-height: 1.7;
  color: white;
  font-weight: bold;
  padding-left: 4%;
  padding-right: 4%;
}

.box>div>a:hover {
  transform: scale(1.06, 1.06);
  text-decoration: none;
}

.box>div>a {
  padding-top: 24%;
  height: 100%;
  text-decoration: none;
}
